* {
  box-sizing: border-box;
}
body {
  background-color: rebeccapurple;
}
header {
  height: 5rem;
  background-color: orange;
}
header img {
  height: 4.3rem;
}
main {
  display: flex;
}
section {
  width: 60%;
}
aside {
  width: 20%;
  height: 64vh;
  background-color: #333;
}
.adBox {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  background-color: ivory;
}
.footer {
  height: 10rem;
  background-color: #321;
}
.footer p {
  color: white;
}
